body{
	background-color: #19191b; /*colour of the page's background if no background image is set*/
	background-image: url(""); /*easiest way of setting a basic background image for the page*/
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
	line-height: inherit;
}

.sqr {
	font-family: "tewi"; /*font used in the titles of squares (i.e. 4CHAN, IMAGES etc.)*/
	font-size: 10px; /*size of the font used in the titles of squares (i.e. 4CHAN, IMAGES etc.)*/
	color: #8d2036; /*colour of the text in the titles of squares (i.e. 4CHAN, IMAGES etc.)*/
	background-color: #121212; /*colour of the squares*/
	/*Borders are only visible when expanded. If you want contracted squares to have a border too, change
	the contractedBorder variable in the advanced config section of main.js*/
	border-top-width: 2px; /*width of the top border of expanded squares*/
	border-bottom-width: 2px; /*width of the bottom border of expanded squares*/
	border-top-color: #8d2036; /*colour of the top border of squares*/
	border-bottom-color: #8d2036; /*colour of the bottom border of squares*/
	border-top-style: solid;
	border-bottom-style: solid;
	line-height: 150px;
	display: inline-block;
	width: 150px;
	height: 150px;
	margin: 3px 1px;
	overflow: hidden;
	-moz-transition: none .25s ease-in-out;
	-webkit-transition: none .25s ease-in-out;
	-o-transition: none .25s ease-in-out;
	transition: none .25s ease-in-out;
	vertical-align: middle;
}

.content {
	font-family: "tewi"; /*font used in the content of squares (not including the search input)*/
	font-size: 10px; /*size of the font used in the content of squares (not including the search input)*/
	color: #999999; /*colour of the text in the content of squares (not including the search input)*/
	margin: 0 10px 0;
	line-height: 25px;
}

#mascot {
	background-image: url(""); /*If you want to have a mascot on your startpage, its image-url goes here*/
	bottom: 0px; /*elevation of the mascots bottom edge above the bottom of the page(can also take relative values like 10%)*/
	right: 0px; /*distance of the mascots right edge from the right side of the page(can also take relative values like 10%)*/
	/*The following two properties should be set to the height and width of the image you use as mascot*/
	height: 500px;
	width: 400px;
	opacity: .2; /*transparency-level of the mascot image(a value of 1 is completely opaque, a value of 0 is completely transparent)*/
	z-index: -10;
	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

#searchinput {
/*By default the search field will use your default system font for input fields. If you want to set a
different font for your search field, uncomment (and change) the following 2 lines*/
	/*font-family: "tewi";
	font-size: 10px;*/
	color: #cacaca; /*colour of the text in the search field*/
	background-color: #2a2a2a; /*colour of the search field*/
	width: 130px;
	height: 37px;
	margin-left: -10px;
	padding: 0 10px;
	border: none;
}

#popup {
	font-family: "tewi"; /*font used in the help pop-up*/
	font-size: 10px; /*size of the font used in the help pop-up*/
	color: #999999; /*colour of the text in the help pop-up*/
	background-color: #121212; /*colour of the help pop-up*/
	border-top-width: 2px; /*width of the border at the top of the help pop-up*/
	border-top-color: #8d2036; /*colour of the border at the top of the help pop-up*/
	border-top-style: solid;
	position: absolute;
	z-index: 100;
	bottom: -200px; /*You may want to further decrease this value if you add more lines to the help pop-up*/
	right: 15px;
	padding: 25px;
	-moz-transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	text-align: left;
}

#container {
	height: 100vh;
	width: 100vw;
	display: table;
}

#cell {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
